button {
	width: 80px;
	height: 30px;
	margin: 10px 0;
	border: none;
	border-radius: 8px;
	background-color: yellow;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.btn-block {
   background-color: darkgrey;
}

.blue {
   background-color: blue;
}

.red {
   background-color: red;
}